<div class="card">
    <section class="row">
      <img src="../../../assets/mobiles/under20/{{unit.id}}_01.PNG" alt="{{unit.id}}" style="width: 70px; height: 100px;">
        <section id="row1-details">
            <h2><b>{{unit.name}}</b></h2>
            <p>{{unit.user_rating}}</p>
            <p>{{unit.price}}</p>
        </section>
    </section>

    <section class="row">
        <section id="row2-col1">
            <h2></h2>
            <p>{{unit.camera_front}}</p>
            <p>{{unit.camera_rear}}</p>
        </section>
        <section id="row2-col2">
            <h2></h2>
            <p>{{unit.ram}}</p>
            <p>{{unit.os}}</p>
            <p>{{unit.battery}}mah</p>
            <p>{{unit.special}}</p>
        </section>
    </section>

    <div id="deal-details">
        <h4>rs:{{unit.price}}</h4>
        <h4>rs:{{unit.price}}</h4>
        <h4>rs:{{unit.price}}</h4>
    </div>
</div>