<div class="card">
    <section class="row">
      <img src="../../../assets/m_images/{{unit.id}}_1.JPG" alt="Avatar" style="width: 70px; height: 100px;">
        <section id="row1-details">
            <h2><b>{{unit.name}}</b></h2>
            <p>{{unit.user_rating}}</p>
            <p>{{unit.best_price}}</p>
        </section>
    </section>

    <section class="row">
        <section id="row2-col1">
            <h2></h2>
            <p>{{unit.user_rating}}</p>
            <p>{{unit.best_price}}</p>
        </section>
        <section id="row2-col2">
            <h2></h2>
            <p>{{unit.user_rating}}</p>
            <p>{{unit.best_price}}</p>
        </section>
    </section>

    <div id="deal-details">
        <h4>{{unit.value}}</h4>
        <h4>{{unit.value}}</h4>
        <h4>{{unit.value}}</h4>
    </div>
</div>